<h1><%=@video.title%></h1>
	<p><%=@video.description%></p>
	<iframe id="ytplayer" type="text/html" width="853" height="480"
src="https://www.youtube.com/embed/<%=@video.url%>?cc_load_policy=1&modestbranding=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>

<div class="video-nav">
<% if @video == Video.first %>
	<div class="right">
		 <%= link_to "next >>", @video.prev, class: "next" %>
	</div>
	<% elsif @video == Video.last%>
	<div class="left">
		<%= link_to "<< prev", @video.next, class: "prev" %>
	</div>
<% else %>
	<div class="left">
		<%= link_to "<< prev", @video.next, class: "prev" %>
	</div>	
	<div class="right"> 
		<%= link_to "next >>", @video.prev, class: "next" %>
	</div>
<% end %>
<div class="center">
<%= form_for @zing do |f| %>
<%= f.hidden_field :video_id, value: @video.id %>
<%= f.submit "zing it!", class: "zingit" %>
<%end%>
</div>

</div>


<div class="comments">
	<%= form_for @comment do |f| %>
	<%= f.hidden_field :video_id, value: @video.id %>
		
	<%= f.label :comment %>
	<%= f.text_field :body %>

	<%end%>

	<% @comments.each do |comment| %>
	<p><%= comment.user.email %> <%= comment.body %> </p>
	<% end %>

</div>
